tong {
    background-color: #f4f4f4;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  #head {
    color: rgb(4, 4, 4);
    padding: 20px;
    text-align: center;
    background-image: url(../img/newbg.jpeg);
    height: 250px;
    background-size: 100%;
  }
  #head > h1 {
    font-size: 60px;
    font-weight: bold;
    padding-top: 40px;
    margin-left: 700px;
    text-shadow: 5px 5px 3px #c4b22a;
  }
  #head > p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-left: 700px;
    text-shadow: 2px 1px 5px #c4b22a;
  }
  #nav {
    background-color: #444;
    padding-top: 20px;
    height: 60px;
  }
  #nav > ul > li {
    list-style-type: none;
    display: contents;
  }
  #nav > ul > li > a {
    margin-left: 35px;
    text-decoration: none;
    color: #fff;
  }
  #nav > ul > li > a:hover {
    color: #c4b22a;
  }
  .dropdown-menu {
    background-color:#cdcaca;
    margin-left: 430px;
  }
  .dropdown-menu li a{
    font-weight: bold;
  }
  #nav1 {
    background-color: #444;
    padding-top: 11px;
    height: 50px;
  }
  #nav1 > input {
    opacity: 0.4;
    border-radius: 20px;
    padding-left: 15px;
    margin-left: 15px;
    height: 30px;
    color: black;
    position: relative;
    left: -120px;
    top: 4px;
  }
  #nav1 > a > i {
    position: relative;
    left: 343px;
    top: -22px;
    color: #fff;
  }
  #nav1 > a > i:hover {
    color: #c4b22a;
  }
  #nav3 {
    padding-top: 19px;
    padding-left: 45px;
  }
  #nav3 > a {
    color: #fff;
    position: relative;
    left: -140px;
    text-decoration: none;
    margin-left: 11px;
    padding-bottom: 3px;
    border-bottom: 2px solid #444;
  }
  #nav3 > a:hover {
    color: #c4b22a;
    border-bottom: 2px solid #c4b22a;
  }
  #sub1 {
    text-align: left;
    padding-left: 170px;
    padding-top: 70px;
    color: #fff;
  }
  #sub2 {
    padding-top: 95px;
  }
  #sub2 > input {
    border-radius: 0px;
    background-color: #fff;
    height: 40px;
  }
  #sub3 {
    padding-top: 95px;
  }
  #sub3 > button {
    border-radius: 0px;
    background-color: #0c0c0b;
    position: relative;
    color: white;
    left: -31px;
    border: none;
    height: 40px;
    width: 140px;
  }
  #sub3 > button:hover {
    background-color: #c4b22a;
  }
  #lastF1 {
    padding-left: 170px;
  }
  #lastF1 > p {
    text-align: justify;
  }
  h4 {
    border-bottom: 1px solid white;
    padding-bottom: 5px;
    margin-bottom: 20px;
    width: 30px;
  }
  #lastF2 {
    padding-left: 45px;
  }
  #lastF2 > i {
    color: #c4b22a;
  }
  #lastF3 > ul > li {
    list-style-type: none;
    margin-left: -40px;
  }
  #lastF3 > ul > li > a {
    color: #cfcbcb;
    text-decoration: none;
  }
  #lastF3 > ul > li > a:hover {
    color: #c4b22a;
  }
  #foot {
    background-color: #333;
    color: #fff;
    border-top: 1px solid black;
    text-align: center;
  }
  #foot > p {
    color: #fff;
    margin-top: 12px;
    width: 100%;
  }